body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:532px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:381px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:50px;
  width:505px;
  height:381px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:376px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:490px;
  width:508px;
  height:376px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:607px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:903px;
  width:510px;
  height:607px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:296px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:599px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1554px;
  width:505px;
  height:599px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:19px;
  width:74px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:441px;
  width:59px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:2624px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:450px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:2153px;
  width:520px;
  height:450px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:470px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:2145px;
  width:517px;
  height:470px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:227px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
